@using AccountingSystem.Models

@{
    ViewBag.Title = "Change Password";
    var user = (User)Session["loggedinUser"];
}

@section styles
{
    <link href="~/Content/css/messi.min.css" rel="stylesheet" />
    <style>
        .modal-header-lor {
            color: #fff;
            border-bottom: 1px solid #eee;
            background-color: #005BF1;
            -webkit-border-radius: 5px 5px 0px 0px;
            -moz-border-radius: 5px 5px 0px 0px;
            border-radius: 5px 5px 0px 0px;
            padding: 0px 5px 0px 5px;
            margin: -10px 0px 0px 0px;
        }

            .modal-header-lor h4 {
                color: #fff;
                line-height: 28px;
                font-size: 15px;
                margin: 2px 0px 0px 0px;
            }

            .modal-header-lor .close {
                color: #fff;
                font-size: 20px;
                line-height: 28px;
            }

        .lorModal .modal-dialog {
            width: 500px;
        }

        .lorModal .modal-body {
            background: #f0f0f0;
            padding-bottom: 10px;
        }

            .lorModal .modal-body label {
                font-weight: normal;
            }

        .control-label {
            text-align: right;
        }

        .error {
            color: red;
        }
        #close {
            position: absolute;
            top: 0;
            right: 0px;
            background: url(../images/close2.png) no-repeat -25px 0;
            width: 30px;
            height: 30px;
            text-indent: -9999px;
            padding: 0 10px 0 0;
            cursor: pointer;
            margin: -8px 0px 0 0px;
        }
    </style>
}

<div class="modal lorModal" id="success" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header modal-header-lor">
                <div id="close"></div>
                <h4 class="nstitle"> <img alt="Change_Password_logo" src="~/image/Password.png" width="20" height="20">  Change password</h4>
            </div>
            <div class="modal-body">
                <form id="passwordform">
                    <div class="row">
                        <div class="col-sm-offset-1 col-sm-10">
                            <label class="control-label col-sm-5">
                                User Name
                            </label>
                            <div class="col-sm-7">
                                <input type="text" readonly style="background: white; cursor: text;" name="username" id="username" class="form-control input-sm" value="@user.UserName" />
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 7px;">
                        <div class="col-sm-offset-1 col-sm-10">
                            <label class="control-label col-sm-5">
                                Current Password
                            </label>
                            <div class="col-sm-7">
                                <input type="password" id="currentPassword" name="currentPassword" class="form-control input-sm" />
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 7px;">
                        <div class="col-sm-offset-1 col-sm-10">
                            <label class="control-label col-sm-5">
                                New Password
                            </label>
                            <div class="col-sm-7">
                                <input type="password" id="newPassword" minlength="4" name="newPassword" class="form-control input-sm" />
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 7px;">
                        <div class="col-sm-offset-1 col-sm-10">
                            <label class="control-label col-sm-5">
                                Confirm Password
                            </label>
                            <div class="col-sm-7">
                                <input type="password" id="confirmPassword" minlength="4" name="confirmPassword" class="form-control input-sm" />
                            </div>
                        </div>
                    </div>

                    <div class="row" style="margin:5px 0px 0px 0px;">
                        <div class="col-sm-offset-1 col-sm-5">
                            <button type="button" class="btn btn-info btn-block pull-right btn-sm" id="ok">Ok</button>
                        </div>
                        <div class="col-sm-5">
                            <button type="button" class="btn btn-info btn-block btn-sm" id="exit">&nbsp;&nbsp;&nbsp;&nbsp;Exit&nbsp;&nbsp;&nbsp;&nbsp;</button>
                        </div>
                    </div>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
@section scripts
{
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/js/messi.min.js"></script>
    <script>
        $(document).ready(function () {
            var user = { Id: '@user.UserId', Name: '@user.Name', UserName: '@user.UserName', Password: '@user.Password' };
            $(window).on('load', function () {
                $("#success").modal({
                    backdrop: 'static',
                    keyboard: false
                });
            });
            centerSuccess();

            function centerSuccess() {
                $('.modal').css('display', 'block');
                var $dialog = $('.modal').find(".modal-dialog");
                var offset = ($(window).height() - $dialog.height()) / 2;
                // Center modal vertically in window
                $dialog.css("margin-top", offset);
            }
            $("#close, #exit").on('click', function () {
                $("#success").modal('hide');
            });
            //$(document).click(function () {
            //    $('#success').modal('show');
            //});
            //$(document).on('keydown', function (e) {
            //    if (e.keyCode == 27)
            //        $('#success').modal('show');
            //});
            $("#passwordform").validate({
                rules: {
                    username: "required",
                    currentPassword: {
                        required: true
                    },
                    newPassword: {
                        required: true
                    },
                    confirmPassword: {
                        required: true,
                        equalTo: "#newPassword"
                    },
                },
                messages: {
                    username: "An username is required",
                    currentPassword: {
                        required: "Current password is required",
                    },
                    newPassword: {
                        required: "Please Enter a new password",
                    },
                    confirmPassword: {
                        required: "Please confirm new password",
                        equalTo: "Password does not match"
                    },
                },
                submitHandler: function () {
                    if ($("#username").val() != user.UserName) {
                        var m00 = new Messi('Your username is wrong.',
                        {
                            modal: true,
                            title: 'Alert',
                            buttons: [
                                    { id: 0, label: 'OK', val: 'X' }
                            ]
                        });
                        $('.messi-actions').css('float', 'left').css('margin-left', '205px');
                    }
                    else if ($("#currentPassword").val() != user.Password) {
                        var m0 = new Messi('Your current password is wrong.',
                        {
                            modal: true,
                            title: 'Alert',
                            buttons: [
                                    { id: 0, label: 'OK', val: 'X' }
                            ]
                        });
                        $('.messi-actions').css('float', 'left').css('margin-left', '205px');
                    } else {
                        var jsonData = { id: user.Id, username: user.UserName, newpassword: $("#newPassword").val() };
                        $.ajax({
                            type: "POST",
                            url: '@Url.Action("ChangeUserPassword", "Home")',
                            contentType: "application/json; charset=utf-8",
                            data: JSON.stringify(jsonData),
                            dataType: "json",
                            success: function (data) {
                                if (data == true) {
                                    user.Password = jsonData.newpassword;
                                    var m1 = new Messi('Password is changed successfully.',
                                    {
                                        modal: true,
                                        title: 'Success',
                                        buttons: [
                                    { id: 0, label: 'OK', val: 'X' }
                                        ]
                                    });
                                    $('.messi-actions').css('float', 'left').css('margin-left', '205px');
                                }
                            },
                        });
                    }
                }
            });
            $("#ok").on('click', function () {
                $("#passwordform").submit();
            });
            $(window).on("resize", function () {
                centerSuccess();
            });
        });
    </script>
}
